nav.nav
  h1.nav__header-1 Scrabble Quiz

  h2.nav__header-2 Quizzes 
  ul.nav__list
    li.nav__list-item 2-letter
    li.nav__list-item 3-letter
    li.nav__list-item No Vowels

  h2.nav__header-2 Me
  ul.nav__list
    li.nav__list-item My Stats 
    li.nav__list-item Settings