.quiz-container.bg-color-secondary-2-0

  .card.button.button__start-quiz.bg-color-secondary-1-4 Start Quiz
  
  .card.card__quiz-word.bg-color-complement-4 Cat

  .card.button.button__answer.button__answer--true True 

  .card.button.button__answer.button__answer--false False