.quiz-results-container.bg-color-secondary-1-0 

  h1.results-header-1 Your Results

  ol.results-list 
    span.results-list-legend ( word : answer ✔ / ❌ )
    li.results-list-item 
      span.results-list-item__word word1 : 
      span.results-list-item__submitted-answer false 
      span.results-list-item__mark ✔
    li.results-list-item 
      span.results-list-item__word word2 : 
      span.results-list-item__submitted-answer true 
      span.results-list-item__mark ✔
    li.results-list-item 
      span.results-list-item__word word3 : 
      span.results-list-item__submitted-answer true 
      span.results-list-item__mark ❌
    li.results-list-item 
      span.results-list-item__word word4 : 
      span.results-list-item__submitted-answer false 
      span.results-list-item__mark ✔
    li.results-list-item 
      span.results-list-item__word word5 : 
      span.results-list-item__submitted-answer false 
      span.results-list-item__mark ✔
    li.results-list-item 
      span.results-list-item__word word6 : 
      span.results-list-item__submitted-answer true 
      span.results-list-item__mark ❌
    li.results-list-item 
      span.results-list-item__word word7 : 
      span.results-list-item__submitted-answer false 
      span.results-list-item__mark ❌
    li.results-list-item 
      span.results-list-item__word word8 : 
      span.results-list-item__submitted-answer true 
      span.results-list-item__mark ✔