extends base

block content 
  main.flex.overflow-hidden
    include _nav 

    div.flex-col App container
      header Header 

      div.flex
        div Quiz window 

        div Quiz results
      