extends base

block content 
  main.flex.overflow-hidden
    include _nav 

    .flex-col
      header
        include _header

      .flex.h-full
        div(class="basis-4/6") Quiz window 

        .bg-orange-200(class="basis-2/6") Quiz results
      