doctype html
html 
  block head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/styles/style.css')
    //- link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
    title Scrabble Quiz

body.body
  // NAV BAR
  include _nav

  div.app
    // HEADER
    include _header

    // QUIZ APP
    block content 
      h1 Placeholder

script(defer type='module' src='/js/bundled/index.js')


  