extends base

block content
  main.login-container.bg-color-primary-1 
    .login-form.bg-color-secondary-1-2
      h2.heading-secondary.ma-bt-lg Log in to your account
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.button.button__login.bg-color-complement-4 Login