/**********************/
/* MAIN CONTAINER */
/**********************/
.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 14fr;
  grid-template-columns: 1fr 6fr 2fr;
}

/**********************/
/* HEADER */
/**********************/
.primary-header {
  grid-column: 2 / span 2;

  font-weight: 600;
  font-size: 2rem;

  padding: 1rem 1rem 1rem;
}

.primary-header__quiz-title {
  font-weight: 400;
}

/**********************/
/* NAVIGATION */
/**********************/
.nav {
  grid-row: 1 / span 2;

  padding: 1rem 2rem 1rem;
}

.nav__header-1 {
  font-size: 2.5rem;
  font-weight: 700;
  
  margin-bottom: 3rem;
}

.nav__header-2 {
  font-size: 2rem;
  font-weight: 600;

  margin-bottom: 1.5rem;
}

.nav__list {
  list-style-type: none;
  font-weight: 500;
  padding-left: 1rem;
  margin-bottom: 3rem;
}

.nav__list-item {
  font-size: 1.5rem;

  margin-bottom: 1.5rem;
}

/**********************/
/* QUIZ CONTAINER */
/**********************/
.quiz-container {
}

/**********************/
/* QUIZ RESULTS */
/**********************/
.quiz-results-container {
  padding: 1rem 2rem 1rem;
}

.results-header-1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.results-list-legend {
  font-size: 1.75rem;
  font-weight: 500;
}

.results-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  max-width: 60%;

  font-size: 1.75rem;
  font-weight: 500;

  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.results-list-item__word {
  min-width: 6.5rem;
  margin-left: 1rem;
}

.results-list-item__seperator {
  min-width: 1rem;
}

.results-list-item__submitted-answer {
  /* min-width: 6rem; */
  margin-left: 1rem;
}

.quiz-results-icon {
  height: 2.6rem;
  width: 2.6rem;
  color: #333;
}

.quiz-results-icon__incorrect {
  color: rgba(255, 0, 0, 0.493);
}